/* .active{
    height: 100px;
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: #8080801f;
    font-family: 'Roboto', sans-serif;
}

.header-container {
    width: 100%;
    height: auto;
    padding: 20px 20px 0px 20px;
    z-index: -1;
    position: relative;
}

.header-container__img {
    max-width: 100%;
}

.sticky-top {
    background: white;
}

.blue-1 {
    text-align: center;
    color: #255aa8;
    /* font-weight: 800; */
    font-family: 'Bebas Neue', cursive;
    /* font-family: 'Special Elite', cursive; */
}

.block-container {
    width: 80%;
    background-color: white;
    padding: 20px;
    margin-top: -40px;
    border-radius: 8px;
    border: 2px solid #e1e1e1;
    z-index: 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.accent-1 {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.accent-2 {
    font-style: italic;
    font-size: 18px;
}

.round-picture-bw {
    border-radius: 50%;
    padding: 40px;
}

.img-bw {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.numbers-containers {
    /* display: flex; */
    /* flex-direction: row; */
    font-family: 'Bebas Neue', cursive;
    font-size: 28px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.number-accent {
    font-size: 90px;
    margin-bottom: -20px;
}

.img-pastor-container {
    width: 100%;
    position:absolute;
}

.img-pastors-block {
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100vw
}

.box-slide--left {
    animation: left-slide-in 2000ms;
}

.box-slide--rigth {
    animation: rigth-slide-in 2000ms;
}

.box-slide--bottom{
    animation: bottom-in 2000ms;
}

/* Container Packs */
.container-pack{
    width: auto;
    height: 350px;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
}
.container-pack-block{
    width: 200px;
    background-color: #255aa8;
    color: white;
}

.container-pack-block__box{
    padding: 12px;

}

.container-pack-block__box__title{
    font-family: 'Bebas Neue', cursive;
    font-size: 65px;
    text-align: center;

}

.amount-font{
    font-family: 'Bebas Neue', cursive;
}
.amount{
    font-size: 65px;
    text-align: center;
}

.amount-cycle{
    font-size: 32px;
    text-align: center;
}

.amount-cycle_calculation{
    font-size: 24px;
    text-align: center;
}

.footer-container{
    margin-top: 30px;
    font-size: 15px;
    background-color: #255aa8;
    height: 150px;
    color: #e1e1e1;
}

.footer-container__text{
    padding: 20px;
}
@keyframes left-slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }

}

@keyframes rigth-slide-in {
    from {
        transform: translateX(200%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }

}

@keyframes bottom-in {
    from{
        transform: translateY(-50%);
        opacity: 0;
    }

    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

/* Media Query */

@media screen and (max-width: 425px) {
    .container-pack{
        flex-direction: column;
        width: auto;
        height: unset;
        justify-content: unset;
        margin-left: unset;
        margin-right: unset;
        margin-bottom: 30px;
    }
    .container-pack-block{
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: #255aa8;
        color: white;
    }
    
}

@media screen and (max-width: 768px) {

    .number-accent {
        font-size: 60px;
        margin-bottom: -20px;
    }
}